./exercicios01/.idea
./exercicios01/out
./exercicios01/exercicios01.iml
./exercicios02/.idea
./exercicios02/out
./exercicios02/exercicios02.iml
./exercicios03/.idea
./exercicios03/out
./exercicios03/exercicios02.iml
.idea
out